@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'CoFoRobertRegular';
  font-style: normal;
  font-weight: normal;
  src: local('CoFoRobertRegular'), url('/assets/fonts/CoFo_Robert/CoFo_Robert-Regular.woff') format('woff');
}

@font-face {
  font-family: 'CoFoSansRegular';
  font-style: normal;
  font-weight: normal;
  src: local('CoFoSansRegular'), url('/assets/fonts/CoFo_Sans/CoFoSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'CoFoSansMedium';
  font-style: normal;
  font-weight: normal;
  src: local('CoFoSansMedium'), url('/assets/fonts/CoFo_Sans/CoFoSans-Medium.woff') format('woff');
}

@layer base {
  h1 {
    @apply heading-xl;
  }

  h3,
  p,
  button {
    @apply text-base;
  }
}

@layer utilities {
  .heading-xl {
    @apply text-7xl font-[CoFoRobertRegular] font-bold;
  }

  .heading-sans-md {
    @apply text-2xl font-[CoFoSansRegular] font-black;
  }

  .text-base {
    @apply text-xl font-[CoFoSansMedium];
  }

  .width-xl {
    @apply max-w-[95dvw] mx-auto mobile:max-w-[90dvw] tablet:max-w-[85dvw] laptop:max-w-[80dvw] desktop:max-w-[80dvw];
  }

  .width-lg {
    @apply max-w-[90dvw] mx-auto mobile:max-w-[85dvw] tablet:max-w-[80dvw] laptop:max-w-[70dvw] desktop:max-w-[48dvw];
  }

  .width-md {
    @apply max-w-[80dvw] mx-auto mobile:max-w-[75dvw] max-smLaptop:max-w-[60dvw] tablet:max-w-[75dvw] laptop:max-w-[60dvw] desktop:max-w-[40dvw];
  }

  .clickable-3d {
    @apply active:border-b-0 active:translate-y-[1px] disabled:border-b-0 disabled:active:translate-y-[0px]
  }

  .clickable-3d-grey {
    @apply clickable-3d active:border-b-2 border-2 border-b-[6px] border-dim hover:border-dimHover
  }

  .btn-grey {
    @apply border-2 border-dim hover:border-black
  }

  .clickable-card {
    @apply border-2 border-dim hover:border-dimHover relative before:absolute before:inset-0 before:border-b-[6px] before:border-dim before:rounded-[14px] before:-z-10 active:transform active:translate-y-[6px] active:before:border-b-0 active:border-dimHover
  }
}